@use "../abstracts/variables" as *;

button {
  background-color: $clr-primary-400;
  border: none;
  border-radius: 2rem;
  color: $clr-neutral-100;
  padding: 0.5rem 1rem;
  @media (min-width: 768px) {
    padding: 1rem 1.5rem;
  }
  &:hover {
    background-color: $clr-primary-500;
  }
}
